@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: hsl(0, 0%, 93%);
  --color-black: hsl(0, 0%, 15%);
  --color-gray: hsl(0, 0%, 45%);
  --color-orange: hsl(16, 100%, 59%);
  --color-yellow: hsl(54, 100%, 50%);
  --color-green: hsl(156, 79%, 37%);
  --color-off-black: hsl(0, 0%, 0%);
  --color-off-white: hsl(0, 0%, 100%);
}

.contentful-document ul {
  list-style-type: disc;
  padding-left: 15px;
  margin: 8px 0;
}

.contentful-document > p {
  margin: 8px 0;
}

.contentful-document h3 {
  font-size: 18px;
  font-weight: 500;
}
